{erl_opts, [debug_info]}.
{deps, [

]}.

{plugins, [rebar3_format,rebar3_hex]}.

{format, [
    {files, ["src/*.erl", "test/*.erl"]},
    {formatter, default_formatter},
    {options, #{ribbon=>80 }}   
]}.

{profiles, [
  {test, [
    {eunit_opts, [verbose]}, 
    {deps, [
	  {eunit_helper, "0.0.4"}
	  ]}
	]}
]}.
